@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans";
  background-color: rgba(242, 242, 242, 1);
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */
.main-header {
  display: flex;
  box-sizing: border-box;
  padding: 0 70px;
}

.header-logo {
  display: block;
  position: absolute;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: none;
  opacity: 0.6;
}


/* навигация */
.main-nav {
  display: flex;
  flex: 2 0 auto;
}

/* главная навигация */
.site-list {
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 530px;
}

.site-item {
  position: relative;
  z-index: 2;
}

.site-link {
  padding: 20px 16px;
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  position: relative;
}

.site-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-link:focus-visible {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.site-link-current::after {
  content: '';
  display: block;
  width: 68px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  position: absolute;
  bottom: -1px;
  left: 16px;
}

.site-link-current-catalog::after {
  width: 93px;
}


/* пользовательская навигация */
.user-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-item {
  position: relative;
}

.user-item:nth-child(2) {
  margin-right: 21px;
}

.user-link {
  display: block;
  padding: 20px 12px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

.user-link-favorites {
  position: relative;
}

.user-link-favorites::after {
  content: '12';
  display: block;
  padding: 5px;
  background-color: rgba(125, 181, 79, 1);
  font: 400 10px/1 "PT Sans", Arial, sans-serif;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 3px;
}

.user-button {
  padding: 8px 35px;
  border: none;
  cursor: pointer;
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-sizing: border-box;
  width: 160px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* для заблокированных состояний кнопок */
.button[disabled] {
  background-color: rgba(229, 229, 229, 1);
  pointer-events: none;
  cursor: default;
}

.button:disabled {
  background-color: rgba(229, 229, 229, 1);
  pointer-events: none;
  cursor: default;
}

.button-brown:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:focus-visible {
  outline: none;
  background-color: rgba(97, 80, 72, 1);
}

/* логотип седона */
.sedona-logo {
  padding-top: 51px;
  width: 1200px;
  height: 485px;
  background: url("../images/sedona-logo-background.jpg") no-repeat center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.sedona-logo::after {
  content: url("../images/sedona-logo-pattern.svg");
  width: 100%;
  height: 57px;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* небольшой городок */
.town {
  padding-top: 70px;
  padding-bottom: 89px;
  text-align: center;
  box-sizing: border-box;
}

.town-title {
  margin: 0 auto 25px;
  width: 620px;
  font: 700 30px/1.2 "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.town-text {
  margin: 0 auto;
  width: 651px;
  font: 400 22px/1.18 "PT Sans", Arial, sans-serif;
}

/* преимущество */
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  padding: 114px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-color: rgba(130, 179, 211, 1);
  text-align: center;
}

.advantages-item:first-child {
  padding: 103px 85px;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(6) {
  padding: 0;
  width: 800px;
  height: 385px;
}

.advantages-item:nth-child(7) {
  padding: 102px 85px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  margin: 0 auto 61px;
  font: 700 24px/1.16 "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  width: 175px;
  position: relative;
}

.advantages-item:nth-child(7) .advantages-item-title {
  width: 172px;
}

.advantages-item-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
    left: 57px;
    bottom: -31px;
}

.advantages-item:nth-child(3) .advantages-item-title::after,
.advantages-item:nth-child(4) .advantages-item-title::after,
.advantages-item:nth-child(5) .advantages-item-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:nth-child(1) .advantages-item-title,
.advantages-item:nth-child(7) .advantages-item-title {
  color: rgba(255, 255, 255, 1);
}

.advantages-item-text {
  margin: 0 auto;
  font: 400 18px/1.16 "PT Sans", Arial, sans-serif;
  width: 230px;
}

.advantages-item:nth-child(1) .advantages-item-text,
.advantages-item:nth-child(7) .advantages-item-text {
  color: rgba(255, 255, 255, 1);
}

.advantages-item:nth-child(3) .advantages-item-text,
.advantages-item:nth-child(4) .advantages-item-text,
.advantages-item:nth-child(5) .advantages-item-text {
  color: rgba(51, 51, 51, 1);
}

/* комфорт */
.comfort {
  padding-top: 63px;
  padding-bottom: 63px;
}

.comfort-title {
  margin: 0 auto 20px;
  width: 505px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.20;
  font-family: "PT Sans", Arial, sans-serif;
}

.comfort-text {
  margin: 0 auto;
  width: 490px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  font-family: "PT Sans", Arial, sans-serif;
}

/* тип аспекта */
.aspect-type-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.aspect-type-item {
  padding: 80px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.aspect-type-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}

.aspect-type-icon {
  position: absolute;
  top: 80px;
  left: 165px;
}

.aspect-type-title {
  margin: 0 auto 29px;
  padding-top: 105px;
  font: 700 24px/1.16 "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.aspect-type-text {
  margin: 0;
  font: 400 18px/1.16 "PT Sans", Arial, sans-serif;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}
