@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans";
  background-color: rgba(242, 242, 242, 1);
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */
.main-header {
  display: flex;
  box-sizing: border-box;
  padding: 0 70px;
}

.header-logo {
  display: block;
  position: absolute;
}

/* навигация */
.main-nav {
  display: flex;
  flex: 2 0 auto;
}

/* главная навигация */
.site-list {
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 530px;
}

.site-item {
  position: relative;
}

.site-link {
  padding: 20px 16px;
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  position: relative;
}

.site-link-current::after {
  content: '';
  display: block;
  width: 68px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  position: absolute;
  bottom: -1px;
  left: 16px;
}

.site-link-current-catalog::after {
  width: 93px;
}


/* пользовательская навигация */
.user-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-item {
  position: relative;
}

.user-item:nth-child(2) {
  margin-right: 21px;
}

.user-link {
  display: block;
  padding: 22px 12px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.user-link-favorites {
  position: relative;
}

.user-link-favorites::after {
  content: '12';
  display: block;
  padding: 5px;
  background-color: rgba(125, 181, 79, 1);
  font: 400 10px/1 "PT Sans", Arial, sans-serif;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 3px;
}

.user-button {
  padding: 8px 32px;
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  box-sizing: border-box;
  width: 160px;
  text-align: center;
}
