@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans";
  background-color: rgba(242, 242, 242, 1);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */
.main-header {
  display: flex;
  box-sizing: border-box;
  padding: 0 70px;
}

.header-logo {
  display: block;
  position: absolute;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: none;
  opacity: 0.6;
}

/* навигация */
.main-nav {
  display: flex;
  flex: 2 0 auto;
}

/* главная навигация */
.site-list {
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 530px;
}

.site-item {
  position: relative;
  z-index: 2;
}

.site-link {
  padding: 20px 16px;
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  position: relative;
}

.site-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-link:focus-visible {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.site-link-current::after {
  content: "";
  display: block;
  width: 68px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  position: absolute;
  bottom: -1px;
  left: 16px;
}

.site-link-current-catalog::after {
  width: 93px;
}

/* пользовательская навигация */
.user-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-item {
  position: relative;
}

.user-item:nth-child(2) {
  margin-right: 21px;
}

.user-link {
  display: block;
  padding: 20px 12px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

.user-link-favorites {
  position: relative;
}

.user-link-favorites::after {
  content: "12";
  display: block;
  padding: 5px;
  background-color: rgba(125, 181, 79, 1);
  font: 400 10px/1 "PT Sans", Arial, sans-serif;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 3px;
}

.user-button {
  padding: 8px 35px;
  border: none;
  cursor: pointer;
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-sizing: border-box;
  width: 160px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* для заблокированных состояний кнопок */
.button[disabled] {
  background-color: rgba(229, 229, 229, 1);
  pointer-events: none;
  cursor: default;
}

.button:disabled {
  background-color: rgba(229, 229, 229, 1);
  pointer-events: none;
  cursor: default;
}

/* для коричневой кнопки */
.button--brown:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button--brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button--brown:focus-visible {
  outline: none;
  background-color: rgba(97, 80, 72, 1);
}

/* для голубой кнопки */
.button--blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button--blue:focus-visible {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.button--blue:active {
  color: rgba(255, 255, 255, 0.3);
}

/* для прозрачной кнопки */
.button--transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button--transparent:focus-visible {
  outline: 3px solid rgb(131, 179, 211);
  outline-offset: -2px;
}

.button--transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
}

/* главное содержимое */
.main {
  flex-grow: 2;
}

/* логотип седона */
.sedona-logo {
  padding-top: 51px;
  width: 1200px;
  height: 485px;
  background: #99c2dc url("../images/sedona-logo-background.jpg") no-repeat
    center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.sedona-logo::after {
  content: url("../images/sedona-logo-pattern.svg");
  width: 100%;
  height: 57px;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* небольшой городок */
.town {
  padding-top: 70px;
  padding-bottom: 89px;
  text-align: center;
  box-sizing: border-box;
}

.town-title {
  margin: 0 auto 25px;
  width: 620px;
  font: 700 30px/1.2 "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.town-text {
  margin: 0 auto;
  width: 651px;
  font: 400 22px/1.18 "PT Sans", Arial, sans-serif;
}

/* преимущество */
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  padding: 114px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-color: rgba(130, 179, 211, 1);
  text-align: center;
}

.advantages-item:first-child {
  padding: 103px 85px;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(6) {
  padding: 0;
  width: 800px;
  height: 385px;
}

.advantages-item:nth-child(7) {
  padding: 102px 85px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  margin: 0 auto 61px;
  font: 700 24px/1.16 "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  width: 175px;
  position: relative;
}

.advantages-item:nth-child(7) .advantages-item-title {
  width: 172px;
}

.advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 57px;
  bottom: -31px;
}

.advantages-item:nth-child(3) .advantages-item-title::after,
.advantages-item:nth-child(4) .advantages-item-title::after,
.advantages-item:nth-child(5) .advantages-item-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:nth-child(1) .advantages-item-title,
.advantages-item:nth-child(7) .advantages-item-title {
  color: rgba(255, 255, 255, 1);
}

.advantages-item-text {
  margin: 0 auto;
  font: 400 18px/1.16 "PT Sans", Arial, sans-serif;
  width: 230px;
}

.advantages-item:nth-child(1) .advantages-item-text,
.advantages-item:nth-child(7) .advantages-item-text {
  color: rgba(255, 255, 255, 1);
}

.advantages-item:nth-child(3) .advantages-item-text,
.advantages-item:nth-child(4) .advantages-item-text,
.advantages-item:nth-child(5) .advantages-item-text {
  color: rgba(51, 51, 51, 1);
}

/* комфорт */
.comfort {
  padding-top: 63px;
  padding-bottom: 63px;
}

.comfort-title {
  margin: 0 auto 20px;
  width: 505px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  font-family: "PT Sans", Arial, sans-serif;
}

.comfort-text {
  margin: 0 auto;
  width: 490px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  font-family: "PT Sans", Arial, sans-serif;
}

/* тип аспекта */
.aspect-type-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.aspect-type-item {
  padding: 80px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.aspect-type-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}

.aspect-type-icon {
  position: absolute;
  top: 80px;
  left: 165px;
}

.aspect-type-title {
  margin: 0 auto 29px;
  padding-top: 105px;
  font: 700 24px/1.16 "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.aspect-type-text {
  margin: 0;
  font: 400 18px/1.16 "PT Sans", Arial, sans-serif;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}

/* заинтересовались? */
.interested {
  padding-top: 97px;
  padding-bottom: 96px;
}

.interested-title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 592px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.interested-text {
  margin: 0 auto 54px;
  width: 592px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.interested-link {
  margin: 0 auto;
  padding: 8px 50px;
  display: block;
  width: 376px;
  min-height: 52px;
  box-sizing: border-box;
  font: 700 20px/1.8 "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
}

/* рассылка на главной странице*/
.newsletter--index {
  background-color: lightblue;
  padding-top: 96px;
  padding-bottom: 105px;
  background: #93bedb url("../images/newsletter-background.jpg") no-repeat
    center;
}

.newsletter-title--index {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 475px;
}

.newsletter-text--index {
  margin: 0 auto 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 475px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  width: 684px;
}

.newsletter-input {
  width: 452px;
  padding: 12px 20px;
  border: none;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px 0 0 4px;
}

.newsletter-input:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.newsletter-submit {
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
}

/* рассылка на странице каталог*/
.newsletter--catalog {
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 104px;
}

.newsletter-title--catalog {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 475px;
}

.newsletter-text--catalog {
  margin: 0 auto 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 475px;
}

.newsletter-input--catalog {
  background-color: rgba(242, 242, 242, 1);
}

/* подвал */
.main-footer {
  padding: 45px 71px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 120px;
}

/* соц. сети */
.social {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 26px;
  width: 128px;
  box-sizing: border-box;
}

.social-link:hover svg path {
  fill: rgba(104, 162, 202, 1);
}

.social-link:focus-visible {
  outline: none;
}

.social-link:focus-visible svg path {
  fill: rgba(104, 162, 202, 1);
}

.social-link:active svg path {
  fill: rgba(104, 162, 202, 0.3);
}

/* номер телефона */
.phone {
  display: block;
  padding-left: 15px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  transition: color 0.2s ease-in;
}

.phone:hover {
  color: rgba(117, 97, 87, 1);
}

.phone:focus-visible {
  outline: none;
  color: rgba(117, 97, 87, 1);
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* лого html-academy */
.html-academy-link {
  display: block;
  padding-top: 3px;
  transition: fill 0.2s ease-in-out;
}

.html-academy-link svg path {
  transition: fill 0.2s ease-in-out;
}

.html-academy-link:hover svg path {
  fill: rgba(117, 97, 87, 1);
}

.html-academy-link:focus-visible svg path {
  outline: none;
  fill: rgba(117, 97, 87, 1);
}

.html-academy-link:focus-visible {
  outline: none;
}

.html-academy-link:active svg path {
  fill: rgba(117, 97, 87, 0.3);
}

/* КАТАЛОГ */

/* фильтр */
.filter {
  padding: 38px 70px 70px;
  background: #6398ba url("../images/filter-background.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.filter-title {
  margin-bottom: 39px;
}

/* заголовок фильтра */
.inner-header {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  display: inline-block;
  margin-right: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover .breadcrumbs-icon path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active .breadcrumbs-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus-visible {
  outline: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-item:last-child .breadcrumbs-arrow {
  display: none;
}

/* форма фильтра */
.filter-form {
  display: flex;
}

.field-group {
  margin: 0;
  padding: 0;
  border: none;
}

.field-group:first-child {
  margin-right: 72px;
}

.field-group:nth-child(2) {
  margin-right: 149px;
}

.field-group:nth-child(3) {
  margin-right: 70px;
}

.field-group-title {
  margin-bottom: 33px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
}

.field-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field-item:not(:last-child) {
  margin-bottom: 16px;
}

.field-label {
  padding-left: 36px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.27;
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  position: relative;
}

.field-label:hover {
  opacity: 0.6;
}

.field-label:active {
  opacity: 0.3;
}

/* checkbox */
.field-label--checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: absolute;
}

.field-label--checkbox:focus-visible .field-label--checkbox::before {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.field-name--checkbox::after {
  content: "";
  display: none;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: url("../images/checkbox-tick.svg") no-repeat center;
}

.field-input[type="checkbox"]:checked + .field-name--checkbox::after {
  display: block;
}

/* radio */
.field-label--radio::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: absolute;
}

.field-name--radio::after {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 4px;
}

.field-input[type="radio"]:checked + .field-name--radio::after {
  display: block;
}

.range-wrapper-inputs {
  margin: 0;
  margin-bottom: 43px;
  display: flex;
  column-gap: 2px;
}

.range-label {
  position: relative;
}

.range-input {
  padding: 12px 43px 12px 20px;
  border: none;
  width: 143px;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.33;
  background-color: rgba(242, 242, 242, 1);
}

.range-input:hover {
  background-color: rgba(230, 230, 230, 1);
}

.range-input:focus-visible {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.range-label:nth-child(1) .range-input {
  border-radius: 4px 0 0 4px;
}

.range-label:nth-child(2) .range-input {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
}

.range-price {
  position: absolute;
  top: 13px;
  right: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.range {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.range-scale {
  width: 226px;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.range-toggle {
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  position: absolute;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 60px;
}

.filter-buttons {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
}

.filter-button-submit {
  margin-bottom: 32px;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
  width: 191px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
}

.filter-button-reset {
  border: none;
  cursor: pointer;
  width: 191px;
  padding: 8px 50px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  background-color: transparent;
}

/* каталог сайта */
.catalog {
  padding: 50px 70px 157px;
}

.catalog-wrapper-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.catalog-title {
  margin: 0;
  margin-right: 200px;
  padding-top: 7px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.catalog-select-wrapper {
  margin-right: 70px;
  border: 2px solid rgba(229, 229, 229, 1);
  width: 292px;
  min-height: 49px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.catalog-select-wrapper:hover {
  border-color: rgba(104, 162, 202, 1);
}

.catalog-select {
  border: none;
  appearance: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: inherit;
  line-height: 1.16;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  width: 100%;
  height: 100%;
  padding: 14px 20px 11px;
  box-sizing: border-box;
}

.catalog-select-wrapper svg {
  position: absolute;
  top: 19px;
  right: 17px;
}

.catalog-select:focus-visible {
  outline: 2px solid rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.catalog-select[disabled] {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  cursor: default;
}

.catalog-select[disabled] + svg path {
  fill: rgba(0, 0, 0, 0.3);
}

.catalog-wrapper-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.catalog-wrapper-button {
  display: block;
  box-sizing: border-box;
  padding: 13px 13px 12px 15px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.catalog-wrapper-button:hover {
  border-color: rgba(0, 0, 0, 1);
}

.catalog-wrapper-button:focus-visible {
  outline: none;
  border-color: rgba(131, 179, 211, 1);
}

.catalog-wrapper-button-current {
  border: 2px solid rgba(0, 0, 0, 1);
}

/* список карточек */
.catalog-list {
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-card {
  padding: 20px;
  width: 340px;
  min-height: 438px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content auto auto 36px 37px;
  gap: 16px 20px;
}

.catalog-card-image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.catalog-card-heading {
  margin: 0;
  font: 700 24px/1.16 "PT Sans", Arial, sans-serif;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.catalog-card-description {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;
}

.catalog-card-text {
  margin: 0;
  font: 400 18px/1.16 "PT Sans", Arial, sans-serif;
  color: rgba(51, 51, 51, 1);
}

.catalog-card-more-details {
  background-color: rgba(117, 97, 87, 1);
  display: block;
  padding: 8px 26px;
  box-sizing: border-box;
  width: 140px;
  font: 700 16px/1.25 "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.catalog-card-favorites {
  background-color: rgba(130, 179, 211, 1);
  display: block;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 140px;
  font: 700 16px/1.25 "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.catalog-card-favorites--added {
  padding: 8px 18px;
  background-color: rgba(125, 181, 79, 1);
}

.catalog-card-stars {
  display: flex;
  align-self: center;
  width: 140px;
  gap: 6px;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.card-star {
  width: 18px;
  height: 17px;
  background: url("../images/star.svg") no-repeat;
}

.catalog-card-rating {
  background-color: rgba(242, 242, 242, 1);
  font: 400 16px/1.25 "PT Sans", Arial, sans-serif;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  width: 140px;
  box-sizing: border-box;
  padding: 9px 22px;
  border-radius: 4px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.pagination {
  margin: 0;
  padding: 0;
  padding-top: 39px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: block;
  padding: 12px 24px;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.pagination-item:first-child .pagination-link {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-item:nth-child(5) .pagination-link {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-item:nth-child(6) .pagination-link {
  padding: 12px 19px;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus-visible {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* модальное окно */
.modal {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.modal--closed {
  display: none;
}

.modal-content {
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  height: 576px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.modal-button-close {
  padding: 17px 19px;
  width: 52px;
  height: 52px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 50%;
  position: absolute;
  top: 65px;
  right: 52px;
}

.modal-field {
  margin: 0;
}

.modal-field:first-child {
  margin-bottom: 25px;
}

.modal-field:nth-child(2) {
  margin-bottom: 21px;
}

.modal-field-label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.modal-field-label--children {
  display: flex;
  margin-right: 46px;
}

.modal-field-type {
  display: inline-block;
  margin-right: 18px;
  text-transform: capitalize;
}

.modal-field-input {
  padding: 12px 60px 12px 20px;
  border: none;
  border-radius: 4px;
  width: 440px;
  min-height: 48px;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
  font: inherit;
  font-size: 18px;
  line-height: 1.33;
  background-image: url("../images/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: top 16px right 22px;
}

.modal-field-description {
  margin: 0;
  padding-top: 4px;
  padding-left: 156px;
  font: 400 16px/1.31 "PT Sans", Arial, sans-serif;
}

.modal-field:first-of-type .modal-field-description {
  color: rgba(255, 87, 87, 1);
}

.modal-wrapper-quantity {
  display: flex;
}

.modal-fields-wrapper {
  display: flex;
  align-items: center;
}

.modal-fields-wrapper:nth-child(2) {
  margin-left: auto;
}

.modal-fields-wrapper:nth-child(1) .modal-quantity-label {
  display: block;
  margin-right: 46px;
}

.modal-fields-wrapper:nth-child(2) .modal-quantity-label {
  display: block;
  margin-right: 11px;
}

.modal-content-quantity {
  display: flex;
  height: 48px;
}

.button-quantity {
  border: none;
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  padding: 0;
  cursor: pointer;
  width: 40px;
}

.button-put-away {
  border-radius: 4px 0 0 4px;
}

.button-put-away svg {
  position: absolute;
  top: 23px;
  left: 13px;
}

.button-add {
  border-radius: 0 4px 4px 0;
}

.button-add svg {
  position: absolute;
  top: 17px;
  left: 13px;
}

.modal-field-quantity {
  padding: 10px 10px;
  box-sizing: border-box;
  border: none;
  width: 31px;
  background-color: rgba(242, 242, 242, 1);
  appearance: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
}

.modal-field-quantity::-webkit-outer-spin-button,
.modal-field-quantity::-webkit-inner-spin-button {
  appearance: none;
}

.quantity-container-info {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(131, 179, 211, 1);
  position: relative;
}

.info-icon {
  position: absolute;
  top: 7px;
  left: 12px;
}
